registry=https://registry.npmmirror.com
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
electron_mirror=https://npmmirror.com/mirrors/electron/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
prefer-offline=true
legacy-peer-deps=true
